@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Forget Password | dealkar.pk </title>

    <link href="~/Content/bootstrap.min.css" rel="stylesheet">
    <link href="~/Fonts/font-awesome/css/font-awesome.css" rel="stylesheet">

    <link href="~/Content/animate.css" rel="stylesheet">
    <link href="~/Content/style.css" rel="stylesheet">
    <meta name="google-site-verification" content="orv0gPJPIeitRMIAGV_0VbMTx3DfWKJa32R4E9Vrr20" />
    <link rel="icon" href="~/Images/others/favicon.png">
</head>

<body class="gray-bg">

    <div class="passwordBox animated fadeInDown">
        <div class="row">

            <div class="col-md-12">
                <div class="ibox-content">
                    @if (TempData["LError"] != null) { 
                    <div class="alert alert-success alert-dismissable">
                        <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                        <h3> @Html.Raw(TempData["LError"])  </h3>
                    </div>
                    }
                    
                    <h2 class="font-bold">Forgot password</h2>
                    @if (TempData["LError"] == null)
                    {
                        <p>
                        Enter your email address and your password will be reset and emailed to you.
                    </p>

                    <div class="row">

                        <div class="col-lg-12">

                            @using (Html.BeginForm("SendEmailToResetPassword", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "m-t", role = "form" }))
                            {
                                @Html.AntiForgeryToken()
                                <div class="form-group">
                                    <input type="email" class="form-control" name="email" placeholder="Enter email" required>
                                </div>
    <button type="submit" class="btn btn-primary block full-width  m-b">Send new password</button>

                            }

                            @*<form class="m-t" role="form" action="Account">
                                <div class="form-group">
                                    <input type="email" class="form-control" placeholder="Email address" required="">
                                </div>

                                <button type="submit" class="btn btn-primary block full-width m-b">Send new password</button>

                            </form>*@
                        </div>
                    </div>
                    }
                    @if (TempData["LError"] != null) {
                    if (!(TempData["LError"].ToString().Contains("Email is sent on"))) { 

                    <p>
                        Enter your email address and your password will be reset and emailed to you.
                    </p>

                    <div class="row">

                        <div class="col-lg-12">

                            @using (Html.BeginForm("SendEmailToResetPassword", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "m-t", role = "form" }))
                            {
                                @Html.AntiForgeryToken()
                                <div class="form-group">
                                    <input type="email" class="form-control" name="email" placeholder="Enter email" required>
                                </div>
    <button type="submit" class="btn btn-primary block full-width  m-b">Send new password</button>

                            }

                            @*<form class="m-t" role="form" action="Account">
                                <div class="form-group">
                                    <input type="email" class="form-control" placeholder="Email address" required="">
                                </div>

                                <button type="submit" class="btn btn-primary block full-width m-b">Send new password</button>

                            </form>*@
                        </div>
                    </div>
                    }
                    if (TempData["LError"].ToString().Contains("Email is sent on")) { 
                        <b>Click on the link we sent you in email</b>
                    }
                    
}
                </div>
            </div>
        </div>
        <hr />
        
    </div>


    @*@Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/plugins/metsiMenu")
    @Scripts.Render("~/plugins/slimScroll")
    @Scripts.Render("~/bundles/inspinia")
    @Scripts.Render("~/plugins/knockout")
    @Scripts.Render("~/plugins/toastr")
    <script src="~/Scripts/app/GoogleAnalytics.js"></script>
    <script src="~/Scripts/jquery.cookie.js"></script>
    <script>
        function Profile(data) {
            var self = this;
            data = data || {};
            self.dpLink = $.cookie("AWSURL") + $.cookie("AWSUserFolder") + 'p' + data.id + data.dpExtension;
            if (!data.dpExtension) {
                self.dpLink = '/Images/Users/default.jpg';
            }
            self.name = data.name;
            self.email = data.email;
        }
        function viewModel() {

            var self = this;
            self.showUser = ko.observable();
            self.getUser = function () {
                $.ajax({
                    url: '/api/User/GetSimpleUser',
                    dataType: "json",
                    contentType: "application/json",
                    cache: false,
                    type: 'GET',
                    success: function (data) {
                        self.showUser(new Profile(data));
                    },
                    error: function () {
                        toastr.error("failed to get data. Please refresh page", "Error");
                    }
                });
            }
            self.getUser();
            return self;
        }
        //tree

        $(function () {

            ko.applyBindings(new viewModel);
        });

    </script>*@














</body>

</html>



