
@{
    ViewBag.Title = "Chat Room";
}

<div class="wrapper wrapper-content animated fadeInRight">
    @*<div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-content">

                    <strong>Chat room </strong> can be used to create chat room in your app.
                    You can also use a small chat in the right corner to provide live discussion.

                </div>
            </div>
        </div>
    </div>*@
    <style>
        #stuff {
            height: 400px;
            /*border: 1px solid black;*/
            overflow: scroll;
        }
    </style>
    
    <div class="row" >
        <div data-bind="visible:!allChatUsers()">
            @Html.Partial("/Views/Shared/_LoadingBoxes.cshtml")
        </div>
        <div class="col-lg-12"  style="display:none" id="FirstLoading">

            <div class="ibox chat-view">

                <div class="ibox-title">
                    @*<small class="pull-right text-muted">Last message:  Mon Jan 26 2015 - 18:39:23</small>*@
                    <span class="visible-xs">
                        <span class="btn btn-xs btn-white" data-bind="visible:isChating(),click:backToChatList">Back to chat list</span>
                    </span>
                    Chat room 
                </div>


                <div class="ibox-content">

                    <div class="row">
                            <div data-bind="visible:!isChating()">
                                <div class="col-sm-4 col-md-3 hidden-sm hidden-md hidden-lg">
                                    <div class="chat-users">
                                        <div data-bind="if:allChatUsers().length == 0">
                                            <h2>Your chat room is empty :( </h2>
                                        </div>
                                        <div class="users-list" data-bind="foreach:allChatUsers">
                                            <div class="chat-user">
                                                <img style="margin-top:10px" class="chat-avatar" data-bind="attr:{src:dpLink}" alt="">
                                                <div class="chat-user-name">
                                                    <div class="feed-element">


                                                        <small data-bind="text:time" class="pull-right text-navy"></small>
                                                        <strong><a data-bind="text:name,click:openChat"></a></strong>
                                                        <div data-bind="truncatedText: message, maxTextLength: 20"></div>

                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        <div data-bind="visible:(!isSmallScreen) || (isSmallScreen && isChating())">
                            <div data-bind="">
                                <div class="col-sm-8 col-md-9">
                                    <div class="chat-discussion" data-bind="visible:isFetchingChat()">
                                        <div class="sk-spinner sk-spinner-three-bounce">
                                            <div class="sk-bounce1"></div>
                                            <div class="sk-bounce2"></div>
                                            <div class="sk-bounce3"></div>
                                        </div>
                                    </div>
                                    <div id="stuff" class="chat-discussion" data-bind="visible:!isFetchingChat()">
                                        <div data-bind="visible:!isConnectionReady()">
                                            Connecting to server... (please wait)
                                        </div>
                                        <div data-bind="visible:isConnectionReady()">
                                            <div data-bind="if:allChatUsers().length == 0">
                                                <h2>Your chat room is empty :( </h2>
                                            </div>

                                            <div  data-bind="foreach:showChat">

                                                <div data-bind="if:message.length > 0">
                                                    <div data-bind="visible:sentFrom != loginUserId1" class="chat-message left">
                                                        <img class="message-avatar " data-bind="attr:{src:dpLink}" alt="">
                                                        <div class="message">
                                                            <a class="message-author" data-bind="text:sentToName,attr:{href:'/User/Index/'+sentFrom}"> </a>
                                                            <span class="message-date" data-bind="text:timeAgo"> </span>
                                                            <span class="message-content" data-bind="text:message">
                                                            </span>
                                                        </div>
                                                    </div>
                                                    <div data-bind="visible: sentFrom == loginUserId1" class="chat-message right">
                                                        <img class="message-avatar " data-bind="attr:{src:dpLink}" alt="">
                                                        <div class="message">
                                                            <a class="message-author" data-bind="text:sentToName,attr:{href:'/User/Index/' + sentFrom}"> </a>
                                                            <span class="message-date" data-bind="text:timeAgo"></span>
                                                            <span class="message-content" data-bind="text:message">
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            
                                        </div>
                                    </div>
                                    <!-- ko scrollToEnd: showChat --><!-- /ko -->
                                </div>
                            </div>
                        </div>
                        <div data-bind="">
                            <div class="col-sm-4 col-md-3 hidden-xs">
                                <div class="chat-users">

                                    <div class="users-list" data-bind="foreach:allChatUsers">
                                        <div class="chat-user">
                                            <img style="margin-top:10px" class="chat-avatar" data-bind="attr:{src:dpLink}" alt="">
                                            <div class="chat-user-name">
                                                <div class="feed-element">
                                                    
                                                    
                                                        <small data-bind="text:time" class="pull-right text-navy"></small>
                                                    <strong><a data-bind="text:name,click:openChat"></a></strong>
                                                        <div data-bind="truncatedText: message, maxTextLength: 20"></div>
                                                    
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                    <div class="row" data-bind="visible:(!isSmallScreen) || (isSmallScreen && isChating())">
                        <div class="col-sm-8 col-md-9">
                            <div class="form-chat">
                                <div class="input-group input-group-sm">
                                    <input type="text" placeholder="Enter message.." data-bind="attr:{disabled:isSendingChatMessage()},value:newMessage,valueUpdate:'afterkeydown',event:{keyup:checkMsgEnter}" class="form-control"> <span class="input-group-btn">
                                        <button class="btn btn-primary" data-bind="attr:{disabled:isSendingChatMessage()},click: function(){ return sendMessage()} " type="button">
                                            Send
                                        </button>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



@section Styles {
    @Styles.Render("~/plugins/toastrStyles")
    @Styles.Render("~/plugins/sweetAlertStyles")
}


@section Scripts{
    @Scripts.Render("~/plugins/timeago")
    @Scripts.Render("~/plugins/autosize")
    @Scripts.Render("~/plugins/sweetAlert")
    <script src="~/Scripts/app/_Truncate-knockout-binding.js"></script>
    <script src="~/Scripts/app/GetLoginUserId.js"></script>
    <script>
        function ViewModel() {
            SearchingLocation();
            AccountViewModel();
            
            //start chatViewModel
            function OnlineUsers(data) {
                var self = this;
                data = data || {};
                self.id = data.id;
                self.name = data.name;
                self.dpLink = '/Images/Users/p' + self.id + data.dpExtension;
                if (!data.dpExtension) {
                    self.dpLink = '/Images/Users/default.jpg';
                }
                self.openProfile = function () {
                    window.location.href = '/User/Index/' + self.id;
                }
            }
            function AllChatUsers(data) {
                var self = this;
                data = data || {};
                self.id = data.id;
                self.name = data.name;
                self.message = data.lastMessage;
                self.exectTime = data.time;
                self.time = getTimeAgo( data.time);
                self.dpLink = $.cookie("AWSURL") + $.cookie("AWSUserFolder") + 'p' + self.id + data.dpExtension;
                if (!data.dpExtension) {
                    self.dpLink = '/Images/Users/default.jpg';
                }
                self.openChat = function () {
                    loadMessages(self.id,self.name);
                }
            }
            function Message(data, sendMessageTo) {
                var self = this;
                data = data || {};
                self.id = data.id;
                self.name = data.name;
                self.sentFrom = data.sentFrom;
                self.sentTo = data.sentTo;
                self.sentFromName = data.sentFromName;
                self.sentToName = data.sentToName;
                self.message = data.message;
                self.dpLink = $.cookie("AWSURL") + $.cookie("AWSUserFolder") + 'p' + self.sentFrom + data.dpExtension;
                if (!data.dpExtension) {
                    self.dpLink = '/Images/Users/default.jpg';
                }
                var offset = new Date().getTimezoneOffset();
                //if (data.time != undefined) {
                ////    var abc = data.time.getTimezoneOffset();
                //    var tzDifference = timeZoneFromDB * 60 + targetTime.getTimezoneOffset();
                //    //convert the offset to milliseconds, add to targetTime, and make a new Date
                //    var offsetTime = new Date(targetTime.getTime() + tzDifference * 60 * 1000);
                //    self.time = data.time + new Date().getTimezoneOffset();
                //    self.timeAgo = data.time + new Date().getTimezoneOffset();
                //}
                self.time = (data.time);
                self.timeAgo = getTimeAgo(data.time);
                self.loginUserId = data.loginUserId;
                //console.log(self.sentFrom);
               // console.log(self.sentTo);
             //   console.log("will be sent to : " + sendMessageTo);
                if (sendMessageTo == self.sentFrom || sendMessageTo == self.sentTo) {

                } else {
                  //  console.log("No entry");
                    self.message = "";
                }
            }
            function ChatViewModel() {
                $(".collapse-chat-box").click(function () {
                    $(".open-small-chat").trigger('click');
                })
                $("#chatViewModel").click(function () {
                    self.notification(0);
                })
                var self = this;
                self.hub = $.connection.chatHub;
                self.onlineUsersHub = $.connection.onlineUsers;
                self.isFetchingChat = ko.observable(false);
                self.isChating = ko.observable(false);
                self.seenAt = ko.observable();
                if (!isSmallScreen) {
                    self.isChating(true);
                }
                self.backToChatList = function () {
                    self.isChating(false);
                }
                self.notification = ko.observable(0); 
                self.errorMsg = ko.observable();
                self.showChat = ko.observableArray();
                self.newMessage = ko.observable();
                self.loginUserId1 = "";
                self.allChatUsers = ko.observableArray();
                self.onlineUsers = ko.observableArray();
                self.sendMessageTo = ko.observable();
                self.sendMessgeToName = ko.observable();
                self.isSendingChatMessage = ko.observable(false);
                self.getAllChatUsers = function () {
                    $.ajax({
                        url: '/api/Chat/GetAllChatUsers',
                        dataType: "json",
                        contentType: "application/json",
                        cache: false,
                        type: 'GET',
                        success: function (data) {
                            var msg = $.map(data, function (item) { return new AllChatUsers(item) });
                            self.allChatUsers(msg);
                            if (data.length != 0){
                                loadMessages(self.allChatUsers()[0].id, self.allChatUsers()[0].name);
                            }
                            $("#FirstLoading").css({ "display": "block" });
                        },
                        error: function () {
                            $("#FirstLoading").css({ "display": "block" });
                            toastr.error("failed to load data.", "Error!");
                            return null;

                        }
                    });
                };
                self.getAllChatUsers();
                self.sendTo = function (data) {
                    if (self.loginUserId1) {
                        self.sendMessageTo(data.id);
                        self.sendMessgeToName(data.name);
                    } else {
                        loginBtn();
                    }
                }
                self.isOnline = ko.observable("Offline");

                var sub = self.sendMessageTo.subscribe(function (value) {
                    self.loadMessages();
                })
                self.checkUserOnline = function () {
                    if (window.location.pathname.indexOf("/User/Index/") > -1 || window.location.pathname.indexOf("/User/Profile/") > -1) {
                        var userId = $("#userId").val();
                        self.isOnline("Offline");
                        $.each(self.onlineUsers(), function (key, value) {
                            if (value.id == userId) {
                                self.isOnline("Online");
                            }
                        })
                    }
                }
                self.onlineUsers.subscribe(function (value) {
                    self.checkUserOnline();
                })
                self.getLoginUserId = function () {
                    $.ajax({
                        url: '/api/Chat/GetLoginUserId',
                        dataType: "json",
                        contentType: "application/json",
                        cache: false,
                        type: 'GET',
                        success: function (data) {
                            self.loginUserId1 = data;
                        },
                        error: function () {
                            toastr.error("failed to check user login", "Error!");
                            return null;
                        }
                    });
                };
                self.getLoginUserId();
                self.checkUserOnline();
                self.loadMessages = function (userId,name) {
                    self.isChating(true);
                    if (userId == undefined) {
                        userId = self.sendMessageTo();
                    }
                    if (userId != undefined) {
                        self.sendMessageTo(userId);  //test it
                        self.sendMessgeToName(name);
                    }
                    self.isFetchingChat(true);
                    if (userId == undefined) {
                        return;
                    }
                    $.ajax({
                        url: '/api/Chat/GetChat?with=' + userId,
                        dataType: "json",
                        contentType: "application/json",
                        cache: false,
                        type: 'GET',
                        success: function (data) {
                            self.isFetchingChat(false);
                            var msg = $.map(data, function (item) { return new Message(item, userId) });//self.sendMessageTo() replaced by userId
                            self.showChat(msg);
                        },
                        error: function () {
                            self.isFetchingChat(false);
                            toastr.error("failed to load message. Please refresh page and try again", "Error!");
                            return null;
                        }
                    });
                }
                self.checkMsgEnter = function (d, e) {
                    if (self.loginUserId1) {
                        if (self.newMessage().length < 1000) {
                            if (e.keyCode == 13) {
                                if (isConnectionReady()) {
                                    $.connection.hub.start().done(function () {
                                        self.sendMessage();
                                    });
                                    //self.sendMessage();
                                }
                                else {
                                    toastr.info("If its taking too long then refresh page","Establishing Connection..");
                                }
                            }
                        } else {
                            self.newMessage(self.newMessage().slice(0, -1));
                            toastr.info("You reached the limit", "Message too long!");
                        }
                    } else {
                        loginBtn();
                    }
                }
                self.hub.client.loadNewMessage = function (data) {
                    self.newMessage('');
                    self.isSendingChatMessage(false);
                    if (data != null) {
                        if (data.sentFrom != loginUserId1) {
                            if (data.seenAt == null || data.seenAt == "undefined") {
                                self.notification(self.notification() + 1);
                                if (self.sendMessageTo() != data.sentFrom) { //check this
                                    // console.log(self.sendMessageTo());
                                    var link = $('<a/>').text("Go to chat room").attr('href', '/User/Chat');
                                    self.errorMsg(link[0].outerHTML + " to see message!");
                                }
                            }
                        }
                        self.showChat.push(new Message(data, self.sendMessageTo()));
                    }
                }
                self.onlineUsersHub.client.showConnected = function (connectionId) {
                    var mape = $.map(connectionId, function (item) { return new OnlineUsers(item) });
                    self.onlineUsers(mape);
                    self.checkUserOnline();
                  //  console.log(self.onlineUsers());
                }
                self.getReceiverId = function (email) {
                    $.ajax({
                        url: '/api/Chat/GetIdByEmail?email=' + email,
                        dataType: "json",
                        contentType: "application/json",
                        cache: false,
                        type: 'POST',
                        success: function (data) {
                            return data;
                        },
                        error: function () {
                            toastr.error("Please refresh page and try again", "Error!");
                            return null;
                        }
                    });
                }
                self.sendMessageBtn = function () {
                    if (self.loginUserId1) {
                        if (self.newMessage().length < 1000) {
                            if (isConnectionReady()) {
                                self.sendMessage();
                            }
                            else {
                                toastr.info("Connection not established to server", "Please wait");
                            }
                        } else {
                            self.newMessage(self.newMessage().slice(0, -1));
                            toastr.info("You reached the limit", "Message too long!");
                        }
                    } else {
                        loginBtn();
                    }
                }
                self.sendMessage = function () {
                    if (self.sendMessageTo()) {
                        var msg = new Message();
                        msg.sentTo = self.sendMessageTo();
                        msg.message = self.newMessage();
                        msg.message = $.trim(msg.message);
                        if (msg.message != "") {
                            self.isSendingChatMessage(true);
                            self.hub.server.addMessage(msg).fail(function (err) { toastr.error("failed to send message", "Error!"); self.isSendingChatMessage(false); });
                            
                        } else {
                            toastr.info("You cannot send empty message");
                        }
                    } else {
                        toastr.info("Go to user profile or open user ad to send message", "send messge to whom?");
                    }
                }
                self.sendMessageLarge = function (sentTo) {
                    if (sentTo) {
                        var msg = new Message();
                        msg.sentTo = sentTo;
                        msg.message = self.newMessage();
                        msg.message = $.trim(msg.message);
                        if (msg.message != "") {
                            self.isSendingChatMessage(true);
                            self.hub.server.addMessage(msg).fail(function (err) { toastr.error("failed to send message", "Error!"); self.isSendingChatMessage(false); });
                            self.isSendingChatMessage(false);
                        } else {
                            toastr.info("You cannot send empty message");
                        }
                    } else {
                        toastr.info( "send messge to whom?");
                    }
                }

            }
            //end chatViewModel
            
            ChatViewModel();
        }
        function getTimeAgo(varDate) {
            if (varDate) {
                return $.timeago(varDate.toString().slice(-1) == 'Z' ? varDate : varDate + 'Z');
            }
            else {
                return '';
            }
        }
        ko.bindingHandlers.scrollToEnd = {
            update: function (element, valueAccessor, allBindings, viewModel, bindingContext) {
                ko.utils.unwrapObservable(valueAccessor());
                var scroller = element.previousSibling.previousSibling;
                scroller.scrollTop = scroller.scrollHeight;
            }
        };
        ko.virtualElements.allowedBindings.scrollToEnd = true;
        ko.bindingHandlers.jqAutoresize = {
            init: function (element, valueAccessor, aBA, vm) {
                if (!$(element).hasClass('msgTextArea')) {
                    $(element).css('height', '1em');
                }
                $(element).autosize();
            }
        };
        var isSmallScreen = false;
        $(window).resize(function(){
            var w = $(document).width();
            var h = Math.max(document.documentElement.clientHeight, window.innerHeight || 0);
            if (w < 786) {
                isSmallScreen = true;
            }
        });
        $(function () {
            var w = Math.max(document.documentElement.clientWidth, window.innerWidth || 0);
            var h = Math.max(document.documentElement.clientHeight, window.innerHeight || 0);
            if (w < 786) {
                isSmallScreen = true;
            }
            ko.applyBindings(new ViewModel());
        });
    </script>
}