@{
    ViewBag.Title = "search";
}

@*<div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-sm-4">
            <h2>Index</h2>
            <ol class="breadcrumb">
                <li class="active">
                    <strong>Ad</strong>
                </li>
            </ol>
        </div>
    </div>*@


<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-sm-3">
            @Html.Partial("~/Views/Shared/_Tree.cshtml")
        </div>
        <div class="col-sm-6">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Search</h5>
                    <div class="ibox-content">

                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-3">

        </div>
    </div>
</div>

@section Styles {
    @Styles.Render("~/Content/plugins/jsTree")
    @Styles.Render("~/plugins/toastrStyles")
}

@section Scripts {
    @Scripts.Render("~/plugins/jsTree")
    @Scripts.Render("~/plugins/knockout")
    @Scripts.Render("~/plugins/toastr")
    @Scripts.Render("~/bundles/categoryTree")
    <script>

        $(function () {
            ko.applyBindings(new treeModel);
            //$('#jstree1').jstree({
            //    'core': {
            //        'check_callback': true
            //    }
            //});
        })
    </script>

}