
@{
    ViewBag.Title = "Become a Ambassador";
}
<br /><br />
<div class="img-container col-sm-offset-1 col-md-offset-2">
    <img class="img-responsive" src="Images/Users/GSA_Animation.png" />
</div>
<div class="">&nbsp;</div>
<div @*class="row"*@>
    <div @*class="col-sm-offset-1  col-md-offset-2 col-sm-6"*@>
        <h2><br /><br /> <strong>DEALKAR.PK STUDENT BRAND AMBASSADORSHIP PROGRAM</strong></h2>
        <p>The vision of dealkar.pk is to transform the way people sell things in Pakistan. We are now looking for passionate students who have a nag for entrepreneurship and community development.</p>
        <p>By becoming a part of our enthusiastic team, you&rsquo;ll be given once-in-a-lifetime opportunity to be part of an exciting social movement across your university or college. Gain important career skills that will help you to gain credit towards higher studies and field exposure.</p>
        <p>&nbsp;</p>
        <p><strong>AS A DEALKAR.PK BRAND MANAGER YOU WILL</strong></p>
        <ul>
            <li>Love Dealkar.pk and use it on daily basis</li>
            <li>Have imagination, determination and charm</li>
            <li>Be confident yet approachable, work hard yet play harder</li>
            <li>Know your school/university and key influences on campus</li>
        </ul>
        <p>&nbsp;</p>
        <p><strong>THE ROLE</strong></p>
        <ul>
            <li>Help students sell their own stuff through Dealkar.pk</li>
            <li>Enhance university life by bringing Dealkar.pk to different venues on campus like library, gym &amp; dorms etc.</li>
            <li>Promote incredible Dealkar.pk feature of bidding</li>
        </ul>
        <p>&nbsp;</p>
        <p><strong>EXPECTATIONS</strong></p>
        <ul>
            <li>Participate in the Dealkar.pk monthly Meetups to discuss life on campus</li>
            <li>Deliver key campaigns and activities on campus each term on monthly basis</li>
            <li>Amplify all your amazing work through social media with trackbacks to the Dealkar.pk social properties</li>
            <li>Manage your time and fit in your tasks around your studies</li>
        </ul>
        <p><strong>Don&rsquo;t think of this as your average student job, it will turn you into a socialite and a shutterbug</strong></p>
        <p><strong>REWARD AND ACCESS</strong></p>
        <ul>
            <li>Termly rewards package</li>
            <li>Prizes for the best performing &lsquo;Student Brand Ambassadors&rsquo; (SBA&rsquo;s)</li>
            <li>Free Dealkar.pk merchandise for SBA (e.g. mugs, mouse pads, key-rings etc.)</li>
            <li>Unbeatable experience with the next disruptive brand in marketing and events</li>
        </ul>
        <br /><br />
        <a href="https://goo.gl/arJjMk" class="btn-lg btn-info">Apply</a>
        <br /><br /><br /><br /><br />
    </div>
</div>
<style>
    strong{
        color:#1ab394;
    }
</style>



@section Styles {
    @Styles.Render("~/plugins/toastrStyles")
    @Styles.Render("~/Content/plugins/ionRangeSlider/ionRangeStyles")
    @Styles.Render("~/bundles/tagStyles")
}


@section Scripts{
    @Scripts.Render("~/plugins/timeago")
    @Scripts.Render("~/plugins/ionRange")
    <script src="~/Scripts/app/CreateAlert.js"></script>
    <script src="~/Scripts/app/_Truncate-knockout-binding.js"></script>
    <script src="~/Scripts/app/GetLoginUserId.js"></script>

    <script>
        
      //  $(".carouselContainer").slick();
        function viewModel() {
            SearchingLocation();
            CreateAlert();
            ChatViewModel();
            AccountViewModel();


        }
        

        $(function () {
            toastr.options = {
                closeButton: true,
                progressBar: true,
                preventDuplicates: true,
                positionClass: 'toast-top-right',
                onclick: null
            };
            ko.applyBindings(new viewModel);
            var length = $(window).width();
            if (length < 786) { //770
                $(".collapse-link").click();
            }
        });

    </script>
}