@{
    Layout = "~/Views/Shared/_Layout_Home_Page.cshtml";
}

<div class="row wrapper border-bottom white-bg page-heading">
    <br /> <br /><br />
    <div class="col-sm-12">
        <p>&nbsp</p>
        <div class="control-group form-horizontal">
            <label class="control-label col-sm-5" for="select-repo">What are you looking for </label>
            @*<div id="FirstLoading" style="display:none" data-bind="visible:!isPageLoading()">*@
               
            @*@Html.RouteLink("submit", "search",new { s = "ab"})*@
             <div class="col-sm-5 col-md-4">
                    <form action="/q" >
                        <input placeholder="search dealkar.pk" type="text" name="s" class="form-control" />
                    </form>
                    @*<input id="select-tag" name="tags" data-bind="value:selectedTag" class="repositories" placeholder="e.g, Samsung S3, ups, House for sale.." />*@
                </div>
            @*</div>*@
            @*<div data-bind="visible:isPageLoading()">
                <div class="sk-spinner sk-spinner-wave">
                    <div class="sk-rect1"></div>
                    <div class="sk-rect2"></div>
                    <div class="sk-rect3"></div>
                    <div class="sk-rect4"></div>
                    <div class="sk-rect5"></div>
                </div>
            </div>*@
        </div>
        <p>&nbsp</p>
       
        </div>

    <div class="col-sm-12">

        
        <br />
        
        <div class="col-sm-12"><br /> <span class="hidden-xs">
    <br />
    <br />
</span>
            <div class="row">
              
                



                <div class="col-lg-3 col-sm-4 col-xs-6 ">
                    <a style="width:70%" href="/MobilesTablets" class="btn widget  btn-outline btn-primary">
                        <div class="m-b-md">
                            <i class="fa fa-mobile fa-4x"></i>
                            <h3 class="m-xs">Mobiles</h3>
                        </div>

                    </a>
                </div>
                <div class="col-lg-3 col-sm-4 col-xs-6">
                    <a style="width:70%"  href="/Laptops-Computers" class="btn widget  btn-outline btn-primary">
                        <div class="m-b-md">
                            <i class="fa fa-laptop fa-4x"></i>
                            <h3 class="m-xs">Laptops</h3>
                        </div>
                    </a>
                </div>
                <div class="col-lg-3 col-sm-4 col-xs-6">
                    <a style="width:70%" href="/Property"  class="btn widget  btn-outline btn-primary">
                            <div class="m-b-md">
                                <i class="fa fa-home fa-4x"></i>
                                <h3 class="m-xs">Property</h3>
                            </div>
                    </a>
                     @*<a href="/RealEstate">
                        <div class="widget navy-bg p-lg text-center">
                            <div class="m-b-md">
                                <i class="fa fa-home fa-4x"></i>
                                <h3 class="m-xs">Real Estate</h3>
                                <p>&nbsp;</p>
                            </div>
                        </div>
                    </a>*@
                </div>
                <div class="col-lg-3 col-sm-4 col-xs-6">
                    <a style="width:70%" href="/Jobs"  class="btn widget  btn-outline btn-primary">
                            <div class="m-b-md">
                                <i class="fa fa-suitcase fa-4x"></i>
                                <h3 class="m-xs">Jobs</h3>
                        </div>
                    </a>
                </div>
                <div class="col-lg-3 col-sm-4 col-xs-6">
                    <a style="width:70%" href="/Services"  class="btn widget  btn-outline btn-primary">
                            <div class="m-b-md">
                                <i class="fa fa-cogs fa-4x"></i>
                                <h3 class="m-xs">Services</h3>
                        </div>
                    </a>
                </div>
                <div class="col-lg-3 col-sm-4 col-xs-6">
                    <a style="width:70%" href="/Cars" class="btn widget  btn-outline btn-primary">
                        <div class="m-b-md">
                            <i class="fa fa-car fa-4x"></i>
                            <h3 class="m-xs">Cars</h3>
                        </div>
                    </a>
                </div>
                <div class="col-lg-3 col-sm-4 col-xs-6">
                    <a  style="width:70%"  href="/Bikes" class="btn widget  btn-outline btn-primary">
                        <div class="m-b-md">
                            <i class="fa fa-motorcycle fa-4x"></i>
                            <h3 class="m-xs">Bikes</h3>
                        </div>
                    </a>
                </div>
                
            @*</div>
            <div class="row">*@
                <div class="col-lg-3 col-sm-4 col-xs-6 hidden-lg">
            <a  style="width:70%"  href="/Pets-Animals"  class="btn widget  btn-outline btn-primary">
                    <div class="m-b-md">
                        <i class="fa fa-paw fa-4x"></i>
                        <h3 class="m-xs">Animals</h3>
                </div>
            </a>
        </div>
        <div class="col-lg-3 col-sm-4 col-xs-6 hidden-xs">
            <a  style="width:70%"  href="/Education-Learning"  class="btn widget  btn-outline btn-primary">
                    <div class="m-b-md">
                        <i class="fa fa-mortar-board fa-4x"></i>
                        <h3 class="m-xs">Study@*Books, Sports & Hobbies*@</h3>
                </div>
            </a>
        </div>

                @*<div class="modal inmodal" id="myModal4" tabindex="-1" role="dialog" aria-hidden="true">
                    <div class="modal-dialog">

                        <div class="modal-content animated fadeIn">

                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                                
                                <h6 class="modal-title">Welcome to <span class=""> dealkar.pk</span>!</h6>

                                <h4 class="modal-title"> Buy and sell Qurbani Animals</h4>
                                <small>Buy and sell Bakra, Cow, Goat, Camel and other qurbani animals on dealkar.pk</small>
                            </div>
                            <div href="/bakra-for-qurbani" class="modal-body">
                                
                                <h3 class="text-center"> How it works!</h3>
                                <h4>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Just 3 steps:</h4>
                                <ol>
                                    <li>Post an ad</li>
                                    <li>Interested Buyers will bid</li>
                                    <li>Sell to one with maximum bid</li>
                                </ol>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-white" data-dismiss="modal">Close</button>
                                <a  href="/Pets-Animals"  class="btn btn-primary">Go to Qurbani Animals</a>
                            </div>
                        </div>
                    </div>
                </div>*@
              
            </div>
            <div class="row">
               
            </div>
        </div>
        <div class="row"></div>
        <br /><br /><br /><br />
    </div>
    
</div>
<div class="row">
    <br /><br /><br /><br />
    
</div>

<div class="row">
    <div id="trendingAds" style="display:none" class="col-lg-10 col-lg-offset-1">
        <h3>Trending Ads</h3>
        <div class="slick_demo_2 showAds" data-bind="foreach:showAds">

            <div>
                <div class="ibox">
                    <div class="ibox-content product-box" style="height:440px">

                        <div class="product-imitation">
                            <a data-bind="attr:{href:link}" class="carouselContainer">
                                <span id="gallery" data-gallery=""
                                                                            data-bind="slick: images,
                                      slickOptions: { slidesToShow: 3,
                                    slidesToScroll: 1,
                                    autoplay: true,
                                    autoplaySpeed: 2000,},
                                      slickIndex: imageIndex">
                                                                      </span>
                                <div data-bind="visible:images().length == 0"><h2><br /><br /><br /><br /> No Images<br /><br /><br /><br /><br /></h2></div>
                            </a>
                        </div>
                        <div class="product-desc">
                            <span class="product-price">
                                <span data-bind="if:!isBidingAllowed">
                                    <span data-bind="if:price">
                                        <span data-bind="text:price"></span>
                                    </span>
                                    <span data-bind="if:!price">Price on contact</span>
                                </span>
                                <span data-bind="if:isBidingAllowed">
                                    <span data-bind="if:price">
                                        <span data-bind="if:highestBid() == '-Infinity'">
                                            <span data-bind="text:price"></span> <small style="font-size:13px" class="text-muted ">Rs. (Initial Bid) </small>
                                        </span>
                                        <span data-bind="ifnot:highestBid() == '-Infinity'">
                                            <span data-bind="text:highestBid"></span> <small style="font-size:13px" class="text-muted ">Rs. (current Bid) </small>
                                        </span>
                                    </span>
                                    <span data-bind="if:!price">
                                        <span data-bind="if:highestBid() == '-Infinity'">
                                            No Bid yet
                                        </span>
                                        <span data-bind="ifnot:highestBid() == '-Infinity'">
                                            <span data-bind="text:highestBid"></span> <small style="font-size:13px" class="text-muted ">Rs. (current Bid) </small>
                                        </span>
                                    </span>
                                </span>
                            </span>
                            <small class="text-muted" data-bind="text:category"></small>
                            <a href="#" style="font-size:14px" class="product-name" data-bind="text:title,attr:{href:link}"> </a>



                            <div class="small m-t-xs" data-bind="foreach:showTags">
                                <a target="_blank" data-bind="attr:{href:'/Tag/'+name}"> <span class="btn btn-xs btn-white" data-bind="text:name"></span></a>
                            </div>
                            <div class="m-t text-righ">

                               
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="visible-xs"> <br /><br /><br /><br /></div>
</div>
<style>
    .slick_demo_2 .ibox-content {
        margin: 0 10px;
    }
</style>
<style>
    .carouselContainer {
        overflow: hidden;
        //height:350px;
        margin: 0px;
        padding: 0px;
    }

    #gallery {
        margin: 0px;
        padding: 0px;
    }

    .product-imitation {
        margin: 0px;
        padding: 0px;
      //   width:250px !important;
        /apply max-padding or default image;
    }

    .carouselContainer img {
        // height: 350px;
        width: 250px;
        height: 250px;
       // overflow:hidden;
    }

    .showAds .ibox {
      //  height: 350px;
      //  width:259px;
    }
</style>
<section id="contact" class="gray-section contact hidden-xs">
    <div class="container">
        <div class="row m-b-lg">
            <div class="col-lg-12 text-center">
                <div class="navy-line"> </div>
                <br /><br /><br /><br /><br />

                <h1 class="navbar-brand logo-name">dealkar.pk</h1><br /><br /><br /><br /><br />
                <h1 style="font-size:26px" class="vote-info navbar-brand"> Wait na kar, deal kar &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <span class="list-inline social-icon">
    <li>
        <a target="_blank" href="https://twitter.com/dealkarpk"><i class="fa fa-twitter fa-2x"></i></a>
    </li>
    <li>
        <a target="_blank" href="https://www.facebook.com/dealkar.pk/"><i class="fa fa-facebook fa-2x"></i></a>
    </li>
    @*<li>
        <a target="_blank" href="#"><i class="fa fa-linkedin"></i></a>
    </li>*@
</span></h1>
            </div>
        </div>
        <div class="row m-b-lg">
           
        </div>
        
    </div>
</section>

@section Styles {
    @Styles.Render("~/plugins/slickStyles")
    @Styles.Render("~/plugins/slickThemeStyles")
    @Styles.Render("~/plugins/toastrStyles")
@*@Styles.Render("~/bundles/tagStyles")*@
}


@section Scripts{
    @Scripts.Render("~/plugins/timeago")
    @Scripts.Render("~/plugins/autosize")
    @Scripts.Render("~/plugins/slick")
<script src="~/Scripts/app/slick-knockout-binding.js"></script>
<script src="~/Scripts/app/CreateAlert.js"></script>
<script src="~/Scripts/app/_Truncate-knockout-binding.js"></script>
<script src="~/Scripts/app/GetLoginUserId.js"></script>
    <script>
        //start of _adListView
        function Tag(data) {
            var self = this;
            data = data || {};
            self.id = data.id;
            self.name = data.name;
            self.link = "/Tag/" + data.id + "/" + convertToSlug(self.name);
        }
        function Bid(data) {
            var self = this;
            data = data || {};
            self.price = data.price;
        }
        var imageUrls = [];
        function adImages(data, adId, imagesCount) {
            return $.cookie("AWSURL") + $.cookie("AWSFolderName") + adId + '_' + imagesCount + data;
        }
        function Location(data) {
            var self = this;
            data = data || {};
            self.cityId = data.cityId;
            self.cityName = data.cityName;
            self.popularPlaceId = data.popularPlaceId;
            self.popularPlace = data.popularPlace;
            self.exectLocation = data.exectLocation;
        }
        function convertToSlug(Text) {
            return Text
                .toLowerCase()
                .replace(/[^\w ]+/g, '')
                .replace(/ +/g, '-')
            ;
        }
        function Ad(data) {
            var self = this;

            self.images = ko.observable();
            self.options = {};
            self.imageIndex = ko.observable(1);

            data = data || {};
            self.title = data.title;
            self.category = data.category;
            self.subcategory = data.subcategory;
            self.subsubcategory = data.subsubcategory;
            self.description = ko.observable(data.description);
            self.postedByName = data.postedByName;
            self.postedById = data.postedById;
            self.id = data.id;
            self.time = getTimeAgo(data.time);
            self.loginUserId = data.islogin || "";
            self.showMobileAd = ko.observableArray();
            self.isReported = ko.observable(data.isReported);
            self.reportedCount = ko.observable(data.reportedCount);
            self.showImages = ko.observable();
            self.views = data.views;
            self.price = data.price || "";
            self.link = "/Details/" + data.id + "/" + convertToSlug(data.title);
            var loginUserId1 = getLoginUserId(self.loginUserId); //to access self.loginUserId outside this function

            self.brand = data.brand;
            self.model = data.model;

            self.floor = data.floor;
            self.bedroom = data.bedroom;
            self.area = data.area;

            self.exprience = data.exprience;
            self.qualification = data.qualification;

            //biding
            self.highestBid = ko.observable();
            self.showBidings = ko.observableArray();
            self.isBidingAllowed = false;
            self.placeBid = ko.observable(false);
            self.bidAmount = ko.observable();

            self.showTags = ko.observableArray();
            self.adLocation = ko.observable();
            self.sellerProfile = function () {
                window.location.href = "/User/Index/" + self.postedById;
            }
            if (data.location != null) {
                self.adLocation(new Location(data.location));
            }
            self.isNegotiable = "";
            if (data.isNegotiable == "b") {
                self.isBidingAllowed = true;
            } else if (data.isNegotiable == "y") {
                self.isNegotiable = 'Negotiable';
            } else if (data.isNegotiable == "n") {
                self.isNegotiable = '<strike>Negotiable</strike>';
            }
            if (self.price == "") {
                self.isNegotiable = "";
            }

            if (data.bid != null) {
                var biding = $.map(data.bid, function (item) { return new Bid(item); });
                self.highestBid(Math.max.apply(Math, data.bid.map(function (o) { return o.price; })));
                //self.showBidings(biding);
            }
            if (data.adTags != null) {
                var tags = $.map(data.adTags, function (item) { return new Tag(item); });
                self.showTags(tags);
            }
            if (data.adImages) {
                var imagesCount = 1;
                var img = $.map(data.adImages, function (item, ia) { return adImages(item, data.id, imagesCount++); });
                self.showImages(img);
                self.images(img);
            }
            self.report = function (id, loginUserId) {
                if (loginUserId) {
                    $.ajax({
                        url: '/api/Electronic/reportAd?id=' + id,
                        dataType: "json",
                        contentType: "application/json",
                        cache: false,
                        type: 'POST',
                        success: function (data) {
                            self.isReported(true);
                            self.reportedCount(data);
                        },
                        error: function (xhr, status, error) {
                            var err = eval("(" + xhr.responseText + ")");
                            toastr.info(err.Message);
                        }
                    })
                } else {
                    toastr.info("You must be login to report this ad", "Na na!");
                }
            }
        }
        //edn of _adListView

        function slick1() {
            $('.slick_demo_2').slick({
                infinite: true,
                slidesToShow: 3,
                slidesToScroll: 1,
                centerMode: true,
                focus: false,
                responsive: [
                    {
                        breakpoint: 1624, //1024
                        settings: {
                            slidesToShow: 4,
                            slidesToScroll: 3,
                            infinite: true,
                            // dots: true
                        }
                    },
                    {
                        breakpoint: 1024, //1024
                        settings: {
                            slidesToShow: 3,
                            slidesToScroll: 3,
                            infinite: true,
                           // dots: true
                        }
                    },
                    {
                        breakpoint: 680, //600
                        settings: {
                            slidesToShow: 2,
                            slidesToScroll: 2
                        }
                    },
                    {
                        breakpoint: 440, //480
                        settings: {
                            slidesToShow: 1,
                            slidesToScroll: 1
                        }
                    }
                ]
            });
        }
        
        function ViewModel() {
            
        SearchingLocation();
            AccountViewModel();
            ChatViewModel();
            var self = this;
            self.showAds = ko.observableArray();
            self.selectedTag = ko.observable();
            self.isPageLoading = ko.observable(false);
            self.selectedTag.subscribe(function () {
                self.isPageLoading(true);
                $.cookie("selectedTag", self.selectedTag(), { path: '/Search' });
                window.location.href = "/Search";
            })
            self.loadad = function () {
                url_address = '/api/Search/GetTrendingAds';
                $.ajax({
                    url: url_address,
                    dataType: "json",
                    contentType: "application/json",
                    cache: false,
                    type: 'GET',
                    success: function (data) {
                        var mappedads = $.map(data, function (item) { return new Ad(item); });
                        self.showAds(mappedads);
                        setTimeout(function () {
                            slick1();
                        }, 600);
                        
                        $("#trendingAds").css({ "display": "block" });
                       
                    },
                    error: function () {
                        toastr.error("Unable to load data. Please try again", "Error");
                    }
                });
            }
            self.loadad();
        }
        function getTimeAgo(varDate) {
            if (varDate) {
                return $.timeago(varDate.toString().slice(-1) == 'Z' ? varDate : varDate + 'Z');
            }
            else {
                return '';
            }
        }
       
        $('#select-tag').selectize({
            valueField: 'name',
            labelField: 'name',
            searchField: 'name',
            options: [],
            maxItems: 4,
            createFilter: function (input) { return input.length <= 18; },
            render: {
                option: function (item, escape) {
                    return '<div>' +
                        '<span class="title">' +
                            '<span class="name">' + escape(item.name) + '</span>' +

                        '</span>' +
                        '<span class="description">' + escape(item.info) + '</span>' +
                        '<ul class="meta">' +
                            '<li class="watchers"><span>' + escape(item.followers) + '</span> followers</li>' +
                            '<li class="forks"><span>' + escape(item.questions) + '</span> times Used</li>' +
                        '</ul>' +
                    '</div>';
                }
            },
            load: function (query, callback) {
                if (!query.length) return callback();
                $.ajax({
                    url: '/api/Tag/SearchTags?s=' + encodeURIComponent(query),
                    type: 'GET',
                    error: function () {
                        callback();
                    },
                    success: function (res) {
                        callback(res.slice(0, 10));
                    }
                });
            }
        });
      //  $("#myModal4").modal('show');
        $("#FirstLoading").css({ "display": "block" });
        $(document).ready(function () {
            var length = $(window).width();
            if (length < 786) { //770
                $(".col-xs-6").css({ "width": "auto" });
                $(".col-xs-6 a").removeClass("btn-outline");
                $(".col-xs-6 a").removeClass("widget");
                $(".col-xs-6 a").removeClass("btn-primary");
                $(".col-xs-6 a").css({ "color": "#1ab394" });
            }
            toastr.options = {
                closeButton: true,
                progressBar: true,
                preventDuplicates: true,
                positionClass: 'toast-top-right',
                onclick: null
            };
            ko.applyBindings(new ViewModel);
            $.connection.hub.start().done();
            
        })

    </script>
}




