@{
    ViewBag.Title = "Buy and sell Cameras|Buy second Hand Cameras";
}


<style>
    .carouselContainer {
        overflow: hidden;
        //height:350px;
        margin: 0px;
        padding: 0px;
    }

    #gallery {
        margin: 0px;
        padding: 0px;
    }

    .product-imitation {
        margin: 0px;
        padding: 0px;
        /apply max-padding or default image;
    }

    .carouselContainer img {
        // height: 350px;
        width: 250px;
        height: 250px;
    }

    .showAds .ibox {
        height: 420px;
    }
</style>

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-sm-4 col-md-3 col-lg-3">
            <div class="">
                <div class="ibox">
                    <div class="ibox-title">
                        <h5>Advance Search</h5>
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                        </div>
                    </div>
                    <div class="ibox-content">
                        <label> <input data-bind="checked:laptopAccessories" type="checkbox">Camera Accessories</label>
                        <hr />
                        <h5>Search by Category</h5>
                        <select id="select-category" class="demo-default" data-bind="options: availableCategories,
                       value: selectedCategory,
                       optionsCaption: 'Select category...'"></select>
                        <hr />
                        <h5>Search by brand</h5>
                        <select id="select-brand" class="demo-default" data-bind="options: availableBrands,
                       value: selectedBrand,
                       optionsCaption: 'Select brand...'"></select>
                        <hr />
                        <h5> search by Price</h5>
                        <div id="ionrange_1"></div>
                        <hr />
                        <h5> search by tags</h5>
                        <input id="select-tag" data-bind="value:tags" class="repositories" placeholder="Pick tags..." />
                    </div>

                </div>

                
                
                @Html.Partial("/Views/Shared/_CreateAlert.cshtml")
            </div>
        </div>
        <div class="col-sm-8 col-md-9 col-lg-7">
            <div data-bind="visible:isLoading()">
                @Html.Partial("/Views/Shared/_LoadingBoxes.cshtml")
            </div>
            <div id="FirstLoading" style="display:none" data-bind="visible:!isLoading()">
                <a data-bind="visible:!laptopAccessories(),click:function(){ return createAd('/Electronics/CreateCameraAd')}" data-style="expand-left" class=" pull-right btn btn-danger">Sell Camera </a>
                <a data-bind="visible:laptopAccessories(),click:function(){ return createAd('/Electronics/CreateCameraAccessoriesAd')}" data-style="expand-left" class="pull-right btn btn-danger">Sell Camera Accessories</a>
                <span data-bind="text:showAds().length"> </span> results found<br />
                <b>Summary:</b> Showing <span data-bind="visible: !( minPrice() != 0 || maxPrice() != 50000 || searchingCity() || selectedBrand()  || tags() )"> all </span> <b> <span data-bind="visible:laptopAccessories()"> Cameras Accessories </span> <span data-bind="visible:!laptopAccessories()">Cameras</span> </b><span data-bind="visible:selectedBrand "> of </span> <b> <span data-bind="text:selectedBrand"></span> </b>
                <span data-bind="visible:tags()"> with tags <b> '<span data-bind="text:tags"></span>' </b></span>

                <span data-bind="visible:minPrice()!= 0 && maxPrice()!= 50000">
                    with price from <b> <span data-bind="text:minPrice"></span> </b> to <b> <span data-bind="text:maxPrice"></span></b>
                </span>
                <span data-bind="visible:! (minPrice()!= 0 && maxPrice()!= 50000)">
                    <span data-bind="visible:minPrice() != 0"> with min price <b> <span data-bind="text:minPrice"></span> </b> </span>
                    <span data-bind="visible:maxPrice()!= 50000">with max price <b> <span data-bind="text:maxPrice"></span> </b> </span>
                </span>
                <span data-bind="visible:searchingCity"> from <b> <span data-bind="visible:searchingPP"><span data-bind="text:searchingPP"></span>,</span> <span data-bind="text:searchingCity"></span> </b> </span>
                <div data-bind="foreach:showAds">
                    @Html.Partial("/Views/Shared/_AdListView.cshtml")
                </div>
            </div>
        </div>

        <div class="col-lg-2 hidden-md hidden-sm hidden-xs"> </div>
    </div>
</div>
@section Styles {
    @Styles.Render("~/plugins/slickStyles")
    @Styles.Render("~/plugins/slickThemeStyles")
    @Styles.Render("~/plugins/toastrStyles")
    <link href="~/Content/plugins/jsTree/style.css" rel="stylesheet" />
    @Styles.Render("~/bundles/tagStyles")
    @Styles.Render("~/Content/plugins/ionRangeSlider/ionRangeStyles")
}

@section Scripts{
    @Scripts.Render("~/plugins/timeago")
    @Scripts.Render("~/plugins/autosize")
    @Scripts.Render("~/plugins/slick")
@Scripts.Render("~/plugins/jsTree")
    @Scripts.Render("~/plugins/ionRange")
    <script src="~/Scripts/app/SearchCamera.js"></script>
    <script src="~/Scripts/app/slick-knockout-binding.js"></script>
    <script src="~/Scripts/app/CreateAlert.js"></script>
    <script src="~/Scripts/app/_AdListView.js"></script>
    <script src="~/Scripts/app/_Truncate-knockout-binding.js"></script>
    <script src="~/Scripts/app/GetLoginUserId.js"></script>
<script src="~/Scripts/app/GoogleAnalytics.js"></script>
    <script>

        function viewModel() {
            SearchingLocation();
            CreateAlert();
            TreeViewModel();
            RefreshSearch();
            ChatViewModel();
            AccountViewModel();
            var self = this;
            //self.selectedCategory = ko.observable();
            //self.selectedCategory.subscribe(function () {
            //    console.log("cisdf");
            //});
            return self;
        }
        //tree

        function getTimeAgo(varDate) {
            if (varDate) {
                return $.timeago(varDate.toString().slice(-1) == 'Z' ? varDate : varDate + 'Z');
            }
            else {
                return '';
            }
        }
        ko.bindingHandlers.jqAutoresize = {
            init: function (element, valueAccessor, aBA, vm) {
                if (!$(element).hasClass('msgTextArea')) {
                    $(element).css('height', '1em');
                }
                $(element).autosize();
            }
        };
        $("#ionrange_1").ionRangeSlider({
            min: 0,
            max: 50000,
            type: 'double',
            prefix: "Rs",
            maxPostfix: "+",
            prettify: false,
            hasGrid: true
        });
        $('#select-tag').selectize({
            valueField: 'name',
            labelField: 'name',
            searchField: 'name',
            options: [],
            maxItems: 4,
            render: {
                option: function (item, escape) {
                    return '<div>' +
                        '<span class="title">' +
                            '<span class="name">' + escape(item.name) + '</span>' +

                        '</span>' +
                        '<span class="description">' + escape(item.info) + '</span>' +
                        '<ul class="meta">' +
                            '<li class="watchers"><span>' + escape(item.followers) + '</span> followers</li>' +
                            '<li class="forks"><span>' + escape(item.questions) + '</span> times used</li>' +
                        '</ul>' +
                    '</div>';
                }
            },
            load: function (query, callback) {
                if (!query.length) return callback();
                $.ajax({
                    url: '/api/Tag/SearchTags?s=' + encodeURIComponent(query),
                    type: 'POST',
                    error: function () {
                        callback();
                    },
                    success: function (res) {
                        callback(res.slice(0, 10));
                    }
                });
            }
        });
        $(function () {
            $('.ladda-button').ladda('bind', { timeout: 200000 });

            toastr.options = {
                closeButton: true,
                progressBar: true,
                preventDuplicates: true,
                positionClass: 'toast-top-right',
                onclick: null
            };
            $('.product-images').slick({
                dots: true
            });
            // ko.applyBindings(new viewModel, (document.getElementById('ads')));

            // ko.applyBindings(new treeModel, document.getElementById('navigation'));
            ko.applyBindings(new viewModel);
            //window.onload = function () {
            //    ko.applyBindings(new viewModel);
            //};
            var length = $(window).width();
            if (length < 786) { //770
                $(".collapse-link").click();
            }
        });

    </script>
}










